<div class='relative inline-block text-left'>
  <Menu as |menu|>
    <span class='rounded-full shadow-sm'>
      <menu.Button
        class='inline-flex justify-center w-full z-5 text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-cream border border-gray-300 rounded-full hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800'
      >
        <span class='sr-only'>user menu</span>
        <img
          class='h-8 w-8 rounded-full'
          src='https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80'
          alt=''
        />
      </menu.Button>
    </span>
    <menu.Items
      class='absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none'
      as |items|
    >
      <div class='px-4 py-3'>
        <p class='text-sm leading-5'>Signed in as</p>
        <p
          class='text-sm font-medium leading-5 text-gray-900 truncate'
        >tom@example.com</p>
      </div>

      <div class='py-1'>
        <items.Item as |item|>
          <Base::Menus::CustomMenuItem
            @item={{item}}
            href='#account-settings'
          >Account settings</Base::Menus::CustomMenuItem>
        </items.Item>
        <items.Item as |item|>
          <Base::Menus::CustomMenuItem
            @item={{item}}
            href='#support'
          >Support</Base::Menus::CustomMenuItem>
        </items.Item>
        <items.Item @isDisabled={{true}} as |item|>
          <Base::Menus::CustomMenuItem @item={{item}} href='#new-feature'>New
            feature (soon)</Base::Menus::CustomMenuItem>
        </items.Item>
        <items.Item as |item|>
          <Base::Menus::CustomMenuItem
            @item={{item}}
            href='#license'
          >License</Base::Menus::CustomMenuItem>
        </items.Item>
      </div>
      <div class='py-1'>
        <items.Item as |item|>
          <Base::Menus::CustomMenuItem
            @item={{item}}
            {{on 'click' @logout}}
          >Sign out</Base::Menus::CustomMenuItem>
        </items.Item>
      </div>
    </menu.Items>
  </Menu>
</div>